/Innovate/nbproject/private/
Innovate/Include/weatherdata.json
Innovate/Display/teacher.json
.vs/Innovate/v16/.suo
.vs/Innovate/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
/innovate/img/message
Innovate/Display/nu.json
Innovate/Display/tweakers.json
Innovate/Display/message.json
