:root {
    --light-blue-color: #6298bc;  
    --dark-blue-color: #3d6b83;
    --gray-dark-color: #585656;
}

body 
{
    margin: 0;
    background-color: var(--dark-blue-color);
    height: 100%;
    width: 100%;
    color: white;
}

.header
{
    padding-left: 20px;
    padding-right: 20px;
}

.white
{
    height: 90px;
    background-color: var( --gray-dark-color);
    border-right: 5px solid var(--dark-blue-color);;
    text-align: center;
}

 .white h2 
{
    position: relative;
    top: 25%;
} 

.buttonlogin
{
    height: 90px;
    text-align: center;
    float: left;
    padding: 5px;
    background-color: var( --gray-dark-color);
    cursor: pointer;
}

.padding
{
    padding-left: 15px;
    padding-right: 15px;
}

@font-face
{
    font-family: helveticaMono;
    src: url("../Css/font/Helvetica_Monospaced_Pro.ttf");
}

.clock
{
    font-family: helveticaMono, monospace;
}

.height
{
    height: 90px;
}

.image
{
    height: 100%;
}

.darkmode
{
    height: 90px;
    width: 90px;
    background-color: grey;
    float: right;
    padding: 0;
}

.weerknop
{
    height:100%;
    margin-left: -15px;
    margin-right: -15px;
    background-color: var( --gray-dark-color);
    color:white;
}

.worksheet
{
    padding-left: 20px;
    padding-right: 20px;
    min-height: 670px;
}

.newsfeed 
{
    height: 100%;
    background-color: var( --gray-dark-color);
    border-right: 15px solid var( --dark-blue-color);
}

.margintop
{
    margin-top: 20px;
}

.buienradarFeed
{
    margin-left: 10px;
    margin-right: 10px;
}

.buienradarInfo
{
    margin-left: 10px;
    margin-right: 10px;
}

.iframeBuienradar
{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.loginScreen
{
    text-align: center;
}

.loginForm #name
{
    margin-bottom: 8px;
}

.loginForm #password
{
    margin-bottom: 8px;
}

.loginHr
{
    height: 2.5px;
    background-color: #737373;
}

.logoffHr
{
    height: 2.5px;
    background-color: #737373;
}

.logoffScreen
{
    text-align: center;
}

.logoffScreen #name
{
    margin-bottom: 8px;
}

.logoffScreen #password
{
    margin-bottom: 8px;
}

.logoffScreen #newPassword
{
    margin-bottom: 16px;
}

.changeAvatarButton #btnSubmit
{
    margin-top: 8px;
}

.weather-icon
{
    padding: 0;
    margin: 0;
}

button
{
    background-color: #3d6b83;
    color:white;
}

#list
{
    list-style-type: none;
    padding-left: 0px;
}

.TeacherStatus
{
    width: 5px;
    height: 30px;
    margin-right: 5px;
    margin-top: -5px;
    float: left;
}

.TeacherBlock1
{
    height: 40px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: var( --gray-dark-color);
}

.TeacherBlock2
{
    height: 40px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #737373;
}