:root {
    --light-blue-color: #6298bc;  
    --dark-blue-color: #3d6b83;
    --gray-dark-color: #585656;
}

body 
{
    margin: 0;
    background-color: var(--dark-blue-color);
    height: 100%;
    width: 100%;
    color: white;
}

.header
{
    padding-left: 20px;
    padding-right: 20px;
}

.white
{
    height: 90px;
    background-color: var( --gray-dark-color);
    border-right: 5px solid var(--dark-blue-color);;
    text-align: center;
}

.white h2 
{
    position: relative;
    top: 25%;
} 

.buttonlogin
{
    height: 90px;
    text-align: center;
    float: left;
    padding: 5px;
    background-color: var( --gray-dark-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.padding
{
    padding-left: 15px;
}

@font-face
{
    font-family: helveticaMono;
    src: url("../Css/font/Helvetica_Monospaced_Pro.ttf");
}

.clock
{
    font-family: helveticaMono, monospace;
}

.height
{
    height: 90px;
}

.image
{
    max-width: 100%;
    max-height: 100%;
}

.darkmodeBox
{
    height: 90px;
    background-color: black;
    text-align: center;
}


.darkmode
{
    border: 2px solid black;
    height:100%;
    margin-left: -15px;
    margin-right: -15px;
    background-color: black;
}

.darkmode:hover
{
    background-color: black;
}

.weerknop
{
    height:100%;
    margin-left: -15px;
    margin-right: -15px;
    background-color: var( --gray-dark-color);
    color:white;
}

.worksheet
{
    padding-left: 20px;
    padding-right: 20px;
    max-height: 100%;
    min-height: 670px;
}

.newsfeed 
{
    height: 100%;
    min-height: 670px;
    background-color: var( --gray-dark-color);
    padding: 0px 10px;
}

.margintop
{
    margin-top: 20px;
}

.kopTekst
{
    text-align: center;
    margin-bottom: 10px;
}
.buienradar
{
    text-align: center;
}

.weerInfo
{
    margin-left: 10px;
}

.loginScreen
{
    text-align: center;
}

.loginForm #name
{
    margin-bottom: 8px;
}

.loginForm #password
{
    margin-bottom: 8px;
}

.loginHr
{
    height: 2.5px;
    background-color: #737373;
}

.logoffHr
{
    height: 2.5px;
    background-color: #737373;
}

.logoffScreen
{
    text-align: center;
}

.logoffScreen #name
{
    margin-bottom: 8px;
}

.logoffScreen #password
{
    margin-bottom: 8px;
}

.logoffScreen #newPassword
{
    margin-bottom: 16px;
}

.changeAvatarButton #btnSubmit
{
    margin-top: 8px;
}

.weather-icon
{
    padding: 0;
    margin: 0;
}

.hhbutton
{
    background-color: #3d6b83;
    color:white;
}

#list
{
    list-style-type: none;
    padding-left: 0px;
}

.TeacherStatus
{
    width: 5px;
    height: 30px;
    margin-right: 5px;
    margin-top: -5px;
    float: left;
}

.TeacherBlock1
{
    height: 40px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: var( --gray-dark-color);
}

.TeacherBlock2
{
    height: 40px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #737373;
}

button
{
    background-color: #585656; 
    border: 2px solid #3d6b83;
    color: white; 
    height: 50px;
    padding: 7px;
}

button:focus
{
    box-shadow: inset 4px 4px 16px rgba(0, 0, 0, 0.2);
    outline: none; 
}

button:hover
{ 
    box-shadow: none;
    background-color: #3d6b83;
}

button:active
{
    box-shadow: inset 8px 8px 16px rgba(0, 0, 0, 0.4);
    border: none;
    padding-left: 13px;
    padding-top: 13px;
    padding-right: 5px;
}

.beschikbaar
{
    border: 2px solid green;
}

.beschikbaar:hover
{
    background-color: green;
}

.aanwezig
{
    border: 2px solid orange;
}

.aanwezig:hover
{
    background-color: orange;
    color: black;
}

.afwezig
{
    border: 2px solid red;
}

.afwezig:hover
{
    background-color: red;

}

.weatherbutton
{
    border: 2px solid #585656;
    height:100%;
    margin-left: -15px;
    margin-right: -15px;
}

.weatherbutton:focus
{
    border: 2px solid #585656;
}

.darkmode:active
{
    box-shadow: none;
    padding: 0px;
}

.tweakersRSS
{
    width: 97.5%;
    bottom: 17%;
    position: absolute;
    border-bottom: 3px solid #737373;
}

.nuRSS
{
    width: 97.5%;
    bottom: 0;
    position: absolute;
}

#rss
{
    visibility: hidden;
    height: 0;
}

h4
{
    margin: 0;
    padding: 0;
}

.textRss
{
    margin-bottom: 8px;
}

.Docenten
{
    padding: 0px 0px 0px 15px;
}

.beschikbaarheid
{
    text-align:center;
    margin:0 auto;
}

.result>img
{
    height: 250px;
    border-radius: 10px;
}

.bericht-box
{
    height: 390px;
    width: 100%;
}

.bericht-box iframe
{
    border:none;
    padding: 0;
    width: 80%;
    height: 100%;
    margin-left: 10%;
}