:root {
    --light-blue-color: #6298bc;  
    --dark-blue-color: #3d6b83;
}

body 
{
    margin: 0;
    background-color: var(--light-blue-color);
    height: 100%;
    width: 100%;
}

.header
{
    height: 150px;
    padding: 40px;
}

.white
{
    height: 100%;
    background-color: white;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

.darkmode
{
    height: 70px;
    width: 70px;
    background-color: grey;
    margin-left: 10px;
    float: right;
}

.worksheet
{
    padding-left: 40px;
}

.newsfeed 
{
    height: 100%;
    background-color: white;
    margin-left: 10px;
}

.aanwezigheid
{
    
}

.teacher
{
    height: 50px;
    width: 100%;
}

.color
{
    background-color: red;
    width: 10%;
    height: 100%;
    margin-bottom: 20px;
    float: left;
}

.docent
{
    float:left; 
    width: 80%;
    margin-left: 10%;
    font-size: 20pt;
}