:root {
    --light-blue-color: #6298bc;  
    --dark-blue-color: #3d6b83;
}

body 
{
    margin: 0;
    background-color: #6298bc;
    height: 100%;
    width: 100%;
}

.header
{
    padding-left: 20px;
    padding-right: 20px;
}

.white
{
    height: 90px;
    background-color: white;
    border-right: 5px solid #6298bc;
    text-align: center;
}

.white h2 
{
    position: relative;
    top: 25%;
} 

.buttonlogin
{
    height: 90px;
    text-align: center;
    float: left;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.padding
{
    padding-left: 15px;
}

@font-face
{
    font-family: helveticaMono;
    src: url("../Css/font/Helvetica_Monospaced_Pro.ttf");
}

.clock
{
    font-family: helveticaMono, monospace;
}

.height
{
    height: 90px;
}

.image
{
    max-width: 100%;
    max-height: 100%;
}

.darkmodeBox
{
    height: 90px;
    background-color: black;
    text-align: center;
}

.darkmode
{
    border: 2px solid black;
    height:100%;
    margin-left: -15px;
    margin-right: -15px;
    background-color: black;
}

.darkmode:hover
{
    background-color: black;
}
.worksheet
{
    padding-left: 20px;
    padding-right: 20px;
    max-height: 100%;
    min-height: 670px;
}

.newsfeed 
{
    max-height: 100%;
    min-height: 670px;
    background-color: white;
    padding: 0px 10px;
}

.margintop
{
    margin-top: 20px;
}

.kopTekst
{
    text-align: center;
    margin-bottom: 10px;
}

.buienradar
{
    text-align: center;
}

.weerInfo
{
    margin-left: 10px;
}

.loginScreen
{
    text-align: center;
}

.loginForm #name
{
    margin-bottom: 8px;
}

.loginForm #password
{
    margin-bottom: 8px;
}

.loginHr
{
    height: 2.5px;
    background-color: black;
}

.logoffHr
{
    height: 2.5px;
    background-color: black;
}

.logoffScreen
{
    text-align: center;
}

.logoffScreen #name
{
    margin-bottom: 8px;
}

.logoffScreen #password
{
    margin-bottom: 8px;
}

.logoffScreen #newPassword
{
    margin-bottom: 16px;
}

.changeAvatarButton #btnSubmit
{
    margin-top: 16px;
}

.weather-icon
{
    padding: 0;
    margin: 0;
}

.hhbutton
{
    background-color: #6298bc;
}

#list
{
    list-style-type: none;
    padding-left: 0px;
}

.TeacherStatus
{
    width: 5px;
    height: 30px;
    margin-right: 5px;
    margin-top: -5px;
    float: left;
}

.TeacherBlock1
{
    height: 40px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: white;
}

.TeacherBlock2
{
    height: 40px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #C2E0F0;
}

button
{
    background-color: white; 
    border: 2px solid #6298bc;
    color: black; 
    height: 50px;
    padding: 7px;
}

button:focus
{
    box-shadow: inset 4px 4px 16px rgba(0, 0, 0, 0.2);
    outline: none; 
}

button:hover
{ 
    box-shadow: none;
    background-color: #6298bc;
}

button:active
{
    box-shadow: inset 8px 8px 16px rgba(0, 0, 0, 0.4);
    border: none;
    padding-left: 13px;
    padding-top: 13px;
    padding-right: 5px;
    padding-bottom: 13px;
}

.button1
{
    border: 2px solid green;
    margin: 20px;
}

.button1.set
{
    background-color: lightgreen;
}

.button1:hover
{
    background-color: green;
    color: white; 
}

.button2
{
    border: 2px solid orange;
    margin: 20px;
}

.button2.set
{
    background-color: yellow;
}

.button2:hover
{
    background-color: orange;
}

.button3
{
    border: 2px solid red;
    margin: 20px;
}

.button3.set
{
    background-color: pink;
}

.button3:hover
{
    background-color: red;
    color: white;
}

.weatherbutton
{
    border: 2px solid white;
    height:100%;
    margin-left: -15px;
    margin-right: -15px;
}

.weatherbutton:focus
{
    border: 2px solid white;
}

.darkmode:active
{
    box-shadow: none;
    padding: 0px;
}

.tweakersRSS
{
    width: 97.5%;
    bottom: 15%;
    position: absolute;
    border-bottom: 3px solid black;
}

.nuRSS
{
    width: 97.5%;
    bottom: 0;
    position: absolute;
}

#rss
{
    visibility: hidden;
    height: 0;
}

.textRss
{
    margin-bottom: 8px;
}

h4
{
    margin: 0;
    padding: 0;
}

.Docenten
{
    padding: 0px 0px 0px 15px;
}

.beschikbaarheid
{
    text-align:center;
    margin:0 auto;
}

.result>img
{
    height: 250px;
    border-radius: 10px;
}

.bericht-box
{
    height: 390px;
    width: 100%;
}

.bericht-box iframe
{
    border:none;
    padding: 0;
    width: 80%;
    height: 100%;
    margin-left: 10%;
}

.dateandtime
{
    padding-left: 0px;
    padding-right: 0px;
}
table, th, td {
    border: 1px solid black;
}
.TableFromJS
{
    border: 4px solid red;
    height: 400px;
    width: 600px;
}
.imgInTableFromJS
{
    border: none;
    height: 200px;
    width: auto;
}

.center {
        display: flex;
        width: 100%;
        height: 0px;
        margin: auto;
        padding-top: 45px;
        align-items:center;
        justify-content:center;
}