:root {
    --light-blue-color: #6298bc;  
    --dark-blue-color: #3d6b83;
}

body 
{
    margin: 0;
    background-color: #6298bc;
    height: 100%;
    width: 100%;
}

.header
{
    padding-left: 30px;
    padding-right: 30px;
}

.white
{
    height: 90px;
    background-color: white;
    margin-right: 5px;
    text-align: center;
}

 .white h2 
{
    position: relative;
    top: 25%;
} 

.buttonlogin
{
    height: 90px;
    width: 85px;
    text-align: center;
    float: left;
    padding: 10px;
    background-color: white;
    cursor: pointer;
}

.height
{
    height: 90px;
}

.image
{
    width: 100%;
}

.darkmode
{
    height: 90px;
    width: 90px;
    background-color: grey;
    float: right;
    margin-right: 20px;
    margin-left: 5px;
    padding: 0;
}

.weerknop
{
    height:100%;
    margin-left: -15px;
    margin-right: -15px;
    background-color: white;
}

.worksheet
{
    padding-left: 30px;
    margin-right: 40px;
    margin-bottom: 30px;
    height: 670px;
}

.newsfeed 
{
    height: 100%;
    background-color: white;
}

.margintop
{
    margin-top: 30px;
}

.loginScreen
{
    text-align: center;
}

.loginForm #name
{
    margin-bottom: 8px;
}

.loginForm #password
{
    margin-bottom: 8px;
}

.logoffScreen
{
    text-align: center;
}

.logoffScreen #name
{
    margin-bottom: 8px;
}

.logoffScreen #password
{
    margin-bottom: 8px;
}

.logoffScreen #newPassword
{
    margin-bottom: 8px;
}

.changeAvatarButton #btnSubmit
{
    margin-top: 8px;
}

.teacher
{
    height: 60px;
    width: 123%;
    background-color: white;
    padding: 5px;
    padding-left: 10px;
}

.color
{
    background-color: red;
    width: 5%;
    height: 100%;
    margin-bottom: 20px;
    float: left;
}

.docent
{
    font-size: 20pt;
}

.weather-icon
{
    padding: 0;
    margin: 0;
}

button
{
    background-color: #6298bc;
}
#list
{
    list-style-type: none;
    padding-left: 20px;
}

.TeacherStatus
{
    width: 5px;
    height: 30px;
    margin-right: 5px;
    margin-top: -5px;
    float: left;
}

.TeacherBlock
{
    height: 40px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: white;
}