:root {
  --light-blue-color: #6298bc;  
}

body 
{
    margin: 0;
    background-color: var(--light-blue-color);
    height: 100%;
    width: 100%;
}

.header
{
    height: 150px;
    padding: 40px;
}

.white
{
    height: 100%;
    background-color: white;
    margin-right: 10px;
    margin-left: 10px;
}

.darkmode
{
    height: 70px;
    width: 70px;
    background-color: grey;
    margin-right: 10px;
    margin-left: 10px;
    float: right;
}

.worksheet 
{
    height: 100%;
    background-color: white;
    border: 20px solid var(--light-blue-color);
    margin-left: 30px;
    padding: 10px;
}

.aanwezigheid
{
}

